body{
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-conatainer{
  height: auto;
  width: auto;
  padding: 10vh 10vh;
  background-color: #f5f5f5ee;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dies-box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.rollMeBtn{
  background-color: #5035FF;
  margin-top: 5vh;
  height: 6vh;
  width: auto;
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 1.3rem;
  color: white;
}

.title{
  color: #2B283A;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3vh;
}

.instructions{
  color: #4A4E74;
  text-align: center;
  margin: 0vh 3vh 5vh 3vh;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media screen and (max-width: 680px) {
  .dies-box{
    grid-template-columns: repeat(3, 1fr);
  }

  .dies-box > *:last-child {
    grid-column: 1 / -1; 
    justify-self: center;
  }
}